<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create new city</title>
</head>
<body>
<h1>THÊM THÀNH PHỐ</h1>
<form method="post">
    City Name <input type="text" name="name" placeholder="Name">
    Country <input type="text" name="country" placeholder="Country">
    Area <input type="text" name="area" placeholder="Area">
    Population <input type="text" name="population" placeholder="population">
    Description <input type="text" name="description" placeholder="Descriptionname">
    <button type="submit"> Confirm</button>
</form>
</body>
</html>